.mainComponentContainer {
  display: flex;
  justify-content: center;
}

.mainComponent {
  background-color: #0e111c;
  border: 1px solid #1b2235;
  border-radius: 8px;
  margin: 68px 8px 0px;
  max-width: 515px;
  padding: 10px;
  width: 100%;
}

.txnComponentContainer {
  display: flex;
  justify-content: center;
}

.txnComponent {
  background-color: #0e111c;
  border: 1px solid #1b2235;
  border-radius: 8px;
  margin: 20px 8px 40px;
  max-width: 515px;
  padding: 10px;
  width: 100%;
}

.txnItem {
  background-color: #0e111c;
  border: 1px solid #1b2235;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.tabContent {
  background-color: #131a2a;
  border-left: 1px solid #1b2235;
  border-right: 1px solid #1b2235;
  border-bottom: 1px solid #1b2235;
  border-radius: 0 0 4px 4px;
  padding: 8px;
}

.presetInputButton {
  font-weight: 300 !important;
  cursor: pointer;
}

.anonymousCheckbox {
  font-weight: 300;
}

.codeBlock {
  background-color: #222f4c;
  border-radius: 5px;
  padding: 10px;
}

.monoSpace {
  background-color: #222f4c;
  padding: 2px;
  border-radius: 3px;
}

.modalBackdrop {
  width: 100% !important;
  height: 100% !important;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
