.codeBlock {
  background-color: #222f4c;
  border-radius: 5px;
  padding: 10px;
}

.monoSpace {
  background-color: #222f4c;
  padding: 2px;
  border-radius: 3px;
}

.modalBackdrop {
  width: 100% !important;
  height: 100% !important;
}
